<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mobilerpg.crystalofshadows" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Crystal of Shadows</name>
    <description>A mobile RPG dialogue adventure game</description>
    <author email="dev@mobilerpg.com" href="https://mobilerpg.com">Mobile RPG Dev</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />

    <preference name="BackgroundColor" value="0xff1a1a2e" />
    <preference name="StatusBarBackgroundColor" value="#1a1a2e" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="34" />

    <platform name="android">
        <icon density="ldpi" src="res/icon/android/ldpi.png" />
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/xxhdpi.png" />
        <splash density="port-hdpi" src="res/screen/android/splash-port-hdpi.png" />
        <splash density="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png" />
    </platform>
</widget>
